# Allow
# Circuit
!*.pro
!*.sch
!*.lib
!*.kicad_pcb
# Output
!*.drl
!*.gbr
!*.gbrjob
# Other
!*.md
# Deny
*.ses
*.net
*.dcm
*.log
*.zip
*.rules
*.sch-bak
*-rescue.lib
fp-info-cache
sym-lib-table
*.kicad_pcb-bak