# Allow
# Circuit
!*.pro
!*.lib
!*.kicad_pcb
!*.kicad_sch
# Output
!*.drl
!*.gbr
!*.gbrjob
# Other
!*.md
# Deny
*.ses
*.net
*.dcm
*.log
*.zip
*.rules
*.sch-bak
*-rescue.lib
*.kicad_pcb-bak
fp-info-cache
sym-lib-table